body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
  height: 100vh;
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
}

a {
  color: white;
}
